:root {
    --color-1: #E5E8E8; /* gray */
    --color-2: #2C3E50; /* black */
    --color-3: #7DCEA0; /* green lime */
    --color-4: #A8171E; /* red */
    --color-5: #00258C; /* blue */
    --color-6: #001439; /* dark blue */
    --color-7: #E6BD4B; /* yellow */
    --color-8: #21b142; /* winner green */
    --color-9: #dc2738; /* loser red */
}

html,
body {
    background-color: var(--color-2);
  	height: 100%;
}

.hr-line {
    height: 1px;
    border: 0;
    background-color: var(--color-3);
    margin: 0px;
}

.title-1 {
	margin: 0px;
	color: var(--color-3);
	font-size: 3em;
	font-family: 'Raleway', serif;
	font-weight: 300;
}

.title-2 {
	margin: 0px;
	color: var(--color-1);
	font-size: 2em;
	font-family: 'Raleway', serif;
	font-weight: 300;
}

.scoreboard {
    background-color: transparent;
    border-radius: 1em;
}

.scoreboard-text {
    color: var(--color-1);
	font-size: 2.5em;
	font-family: 'Raleway', sans-serif;
    font-weight: 300;
    transition: color 1s;
}

.scoreboard-winner {
    color: var(--color-3);
}

.computer-msg {
    margin: 0px;
	color: var(--color-1);
	font-size: 2em;
	font-family: 'Raleway', serif;
	font-weight: 500;
}

.winner-msg {
    margin: 0px;
	color: var(--color-1);
	font-size: 3em;
	font-family: 'Raleway', serif;
	font-weight: 500;
}

.computer-choice {
    font-size: 3em;
    color: burlywood;
}

.user-choice {
    font-size: 8em;
    cursor: pointer;
    color: burlywood;
    border-style: solid;
    border-width:.05em;
    border-radius: 50%;
    border-color: var(--color-1);
    padding: .3em;
    width: 1.8em;
    height: 1.8em;
    transition: .5s ease;
}

.user-choice:hover {
    transform: scale(1.1, 1.1);
}

.winner-choice {
    border-color: var(--color-8);
}

.loser-choice {
    border-color: var(--color-9);
}

.tie-choice {
    border-color: var(--color-1);
}